# Repository-wide fallback owner.
* @swegener-rtp

# Protobuf demonstrations
/demonstrations/protobuf-demos/ @blthayer @swegener-rtp

# GEISA technical notes
/implementation-guidance/tech-notes/ @nmcentire400 @swegener-rtp

# IPC timing demonstrations
/demonstrations/performance/ipc-timings/ @nmcentire400 @swegener-rtp

# ZeroMQ performance evaluation
/demonstrations/performance/perf-eval-zeromq/ @ricksteu-utilidata @swegener-rtp

# Systemd application isolation demonstration
/demonstrations/application-isolation-security-systemd-demo/ @blthayer @swegener-rtp

# Wakaama ADM client mockup
/example-implementations/adm/lwm2m-client/wakaama/ @ndam-sfl @kevlhop @swegener-rtp\n\n# GEISA API mockup\n/example-implementations/api/api-mockup/ @kevlhop @swegener-rtp\n